<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        {include file="common/meta" /}
    </head>
    {if !IS_ADDTABS AND !IS_DIALOG}
        {include file="common/header" /}
    {/if}
    <body class="inside-header inside-aside {:defined('IS_DIALOG') && IS_DIALOG ? 'is-dialog' : ''}">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="">
                            {if !IS_ADDTABS AND !IS_DIALOG}
                                <aside class="Hui-aside">
                                    <div class="menu_dropdown bk_2">
                                        <dl id="menu-admin">
                                            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                                            <dd>
                                                <ul>
                                                    <li><a data-href="/admin/rbacc/index?addtabs=1" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                                                    <li><a data-href="/admin/rbacc/listRole?addtabs=1" data-title="角色列表" href="javascript:void(0)">角色列表</a></li>
                                                    <li><a data-href="/admin/rbacc/saveRole?addtabs=1" data-title="角色管理" href="javascript:void(0)">添加角色</a></li>
                                                    <li><a data-href="/admin/rbacc/listOrganize?addtabs=1" data-title="组织列表" href="javascript:void(0)">组织列表</a></li>
                                                    <li><a data-href="/admin/rbacc/saveOrganize?addtabs=1" data-title="组织列表" href="javascript:void(0)">添加组织列表</a></li>
                                                    <li><a data-href="/admin/rbacc/listGroup?addtabs=1" data-title="组织列表" href="javascript:void(0)">组列表</a></li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </div>
                                </aside>
                            {/if}
                            <div class="content">
                                {__CONTENT__}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/script" /}
    </body>
</html>