<form class="layui-form" action="" style="margin:30px auto;padding:20px 0;overflow:auto;">
      <div class="layui-form-item">
        <label class="layui-form-label">权限组名称:</label>
        <div class="layui-input-block">
          <input type="text" name="g_name" lay-verify="required" placeholder="权限组名称" autocomplete="off" class="layui-input" style="width:50%">
        </div>
      </div>
       <div class="layui-form-item">
        <label class="layui-form-label">权限组描述:</label>
        <div class="layui-input-block">
          <input type="text" name="g_description" lay-verify="required" placeholder="权限组描述" autocomplete="off" class="layui-input" style="width:50%">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">权限组状态</label>
        <div class="layui-input-block">
          <input type="radio" name="g_status" value="1" title="启用" checked="">
          <input type="radio" name="g_status" value="2" title="停用 ">
        </div>
        <input type="hidden" name="type" value="add">
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn btn-success" lay-submit="" lay-filter="addgroup">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
</form>