<form class="layui-form" action="" style="margin:30px auto;padding:20px 0;overflow:auto;">
      <div class="layui-form-item">
        <label class="layui-form-label">角色名称:</label>
        <div class="layui-input-block">
          <input type="text" name="r_name" lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input" style="width:50%">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">权限规则</label>
        <div class="layui-input-block">
            {volist name="top_access.data" id="vo"}
            <div class="top-access">
                <span class="t-left"><input type="checkbox" name="a_ids[]" lay-skin="primary" value="{$vo.a_id}" title="{$vo.a_title}"></span>
                <span class="t-right"><input type="checkbox" name="" lay-skin="switch" lay-text="展开|收起" checked></span>
            </div>
            <br>
            {/volist}
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">角色状态</label>
        <div class="layui-input-block">
          <input type="radio" name="r_status" value="1" title="启用" checked="">
          <input type="radio" name="r_status" value="2" title="停用 ">
        </div>
        <input type="hidden" name="type" value="add">
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn btn-success" lay-submit="" lay-filter="addrole">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
</form>
